@use '../../../styles/variables';

.main {
  padding: 50px 0;
  
  h1 {
    padding-bottom: 70px;
    color: variables.$text;
    font-family: variables.$secondary-font;
    text-align: center;
  }
}
