@use '../../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  height: 60px;
  position: sticky;
  top: 0;

  a{
    color: variables.$white;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    color: variables.$white;
    font-size: 2rem;
    font-weight: 700;
  }
}